/********* Jumbotron-home ********/
.jumbotron-home {
  margin-top: 87px; /* Margin to push down the content below the fixed-top components */
  background-image: url("https://new-ella-demo.myshopify.com/cdn/shop/files/slideshow-1.jpg?v=1632195167&width=1880");
  background-size: cover; /* Make the background image responsive */
  width: auto;
  height: 550px;
  text-align: justify;
  display: flex;
  align-items: center;
}
.bold {
  font-weight: bold;
}

/********* Collections ********/
.text-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
}


/**** Image ZOOM ****/
.zoom-img {
  overflow: hidden;
  position: relative;
}

.zoom-img img {
  transition: transform 0.5s ease;
}

.zoom-img:hover img {
  transform: scale(1.1);
}

/********* Cards ********/
.card {
  border: none;
  text-align: center;
}
.card i.fa-heart {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  transition: transform 0.5s ease;
  transform: translateX(15%);
}
.card:hover i.fa-heart,
.card:hover .quick-add {
  visibility: visible;
  transform: translateX(0%);
  transform: translateY(0%);
}
.quick-add {
  position: absolute;
  visibility: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  border: #000 1px solid;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  transition: transform 0.5s ease;
  transform: translateY(15%);
}
